.recipe-list {
  // display: inline-block;
  // width: 75%;
  // margin: 0 auto;

  &__recipe {
    display: flex;

    &__name {
      width: 90%;
    }
  }
}

.recipe {
  &__image {
    width: 60%;
    margin: 0 auto;
  }
}

.recipe-form {
  // width: 75%;
  // margin: 0 auto;

  &__text-box {
    resize: none;
    height: 100px;
  }
}
